/*ESTILOS MAIN*/

#main {
    margin-top: 10px;
    min-height: 100vh;
    padding: 0 70px;
}




/*BREAKPOINTS PREDETERMINADOS 
MOVIL: 600px
PC /TABLET :1250px
*/

/*ESTILOS GRILLAS*/
.section__grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 250px 50px 10px 700px 10px 700px 300px  ;
    grid-template-areas:
                /*col1*/   /*col2*/  
    /*fila 1*/ "img0       img0"                     
    /*fila 2*/ "tipos      tipos"     
    /*fila 3*/  "mago      dark"
    /*fila 5*/  "img3      img4"  
    /*fila 4*/   "guerrero  elfa"
    /*fila 6*/  "img1     img2" 
    /*fila 7*/  "img5      img5"
        ;
    column-gap: 10px;
    row-gap: 30px;
}

/*SECCION GRID IMG y CLASESMU (page  clases) */ 

.section__grid img {
    width: 100%;
    height: 100%;

}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img0 {
    grid-area: img0;
}

.img5 {
    grid-area: img5;
}


.mago {
    grid-area: mago;
    text-align: center;
}

.elfa {
    grid-area: elfa;
    text-align: center;
}

.dark {
    grid-area: dark;
    text-align: center;
}

.guerrero {
    grid-area: guerrero;
    text-align: center;
}

.tipos {
    max-width: 100%;    
    max-height: 100%;
    text-align: center;
    grid-area: tipos;
}


/*Textos e img  (page index) */

/*ESTILOS BANNER*/
.mainBanner {   
    width: 100%;
    height: 100%;
    background-image: url(images/03.jpg);
    background-size: cover;
    padding-top: 10px;
    object-fit: cover;
}

.mu {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.hechizos {
    color: rgb(128, 9, 240);
    text-align: center;
    margin-top: 20px;
}

.comunicaciones {
    color: rgb(25, 5, 206);
    text-align: center;
    margin-top: 20px;
}


.indeximg {
    width: 100%;
    height: 100%;
}


/*Textos e img (Page Descarga) */


.megaup {
    display: flex;
    width: 300px;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 100px;
    object-fit: cover;
}


.mediafire {
    display: flex;
    width: 300px;
    width: 50%;
    height: 35%;
    margin: auto;
    margin-top: 250px;
    object-fit: cover;

}

.megaimg {
    display: flex;
    width: 150px;
    height: 30%;
    margin: auto;
    margin-top: 20px;
    object-fit: cover;
}

.mediaimg {
    display: flex;
    width: 150px;
    height: 30%;
    margin: auto;
    margin-top: 20px;
    object-fit: cover;
}


/*Textos e img  (page de registro)*/
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
}

.formulario {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #ff6868;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d40707;
}



/*page de Vip*/

    .section_vip {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas:
        /*col1*/   
        /*fila 1*/ "imgvip1"                     
        /*fila 2*/ "imgvip"     
        /*fila 3*/  "imgvip2"
        ;
    }

    .section_vip {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.imgvip1 {
    grid-area: imgvip1;
}

.imgvip {
    grid-area: imgvip;
}

.imgvip2 {
    grid-area: imgvip2;
}
