/*
JERARQUIAS POR ORDEN PIRAMIDAL
!import <= posterior llamado luego del valor de propiedad
id # <=clasificaciones troncales e irrepetibles para estructuras
class . <= clasificaciones reutilizables para cajas y estilos 
etiqueta/selector <= etiquetas semanticas de un html5

METODOLOGIA CAMEL CASE Y BEM
EstoEsUnaMetodologiaCamelCase <= se usa para un etiquetado rapido,directoy entendible 

Bem <= Parte del bloque que vamos a modificar luego del elemento y por ultimo la modificacion  
padre__hijo--elementoModificado <=mezcla de metodologias para un etiquetado rapido directo y entendible.
*/

/*
Propiedades Margin y Padding:
margin: 50 px; <= 1 valor todos sus lados 
margin-top: 50px; <= Valor superior o X

        TOP/BOTTOM    LEFT/RIGTH
margin:    50px           30px

        TOP   RIGTH   BOTTOM   LEFT 
margin: 50px  30px    50px     30px; 

border-left:;

*/



/*RESET CCS
Llamado a todo el documento HTML*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    max-width: 100%;
}


/*ESTILOS HEADER */
#header {
    width: 100%;
    height: 30px;
    background-color: black
}

#navBar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .navBar-ul li a {
    color: white;
}

.navBar-ul li {
    text-align: center;
    display: inline;
}

#navBar .navBar-ul li a:hover {
    color: red;
}


/*ESTILOS MAIN*/

#main {
    margin-top: 10px;
    min-height: 100vh;
    padding: 0 70px;
}

/*ESTILOS BANNER*/
.mainBanner {   
    width: 100%;
    height: 500px;
    background-image: url(images/03.jpg);
    background-size: cover;
    padding-top: 80px;
}

/*ESTILOS FOOTER*/
#footer {
    width: 100%;
    height: auto;
    background-color: rgb(236, 238, 225);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-logo img {
    width: 40px;
}

.footer__links-ul , .footer__links-autor {
    text-align: center;
}

.footer__redes i {
    font-size: 40px;
}

.footer__links-autor {
    font-size: 10px;
}

/*BREAKPOINTS PREDETERMINADOS 
MOVIL: 600px
PC /TABLET :1250px
*/

/*ESTILOS GRILLAS*/
.section__grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 250px 50px 10px 700px 10px 700px 300px  ;
    grid-template-areas:
                /*col1*/   /*col2*/  
    /*fila 1*/ "img0       img0"                     
    /*fila 2*/ "tipos      tipos"     
    /*fila 3*/  "mago      dark"
    /*fila 5*/  "img3      img4"  
    /*fila 4*/   "guerrero  elfa"
    /*fila 6*/  "img1     img2" 
    /*fila 7*/  "img5      img5"
        ;
    column-gap: 10px;
    row-gap: 30px;
}

/*SECCION GRID IMG y CLASESMU */ 

.section__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img0 {
    grid-area: img0;
}

.img5 {
    grid-area: img5;
}


.mago {
    grid-area: mago;
    text-align: center;
}

.elfa {
    grid-area: elfa;
    text-align: center;
}

.dark {
    grid-area: dark;
    text-align: center;
}

.guerrero {
    grid-area: guerrero;
    text-align: center;
}

.tipos {
    max-width: 100%;    
    max-height: 100%;
    text-align: center;
    grid-area: tipos;
}

@media screen and (min-width: 1px) and (max-width:600px) {
    .section__grid{
        grid-template-columns: 200px ;
        grid-template-rows: 100px 50px 1px 200px 1px 200px 1px 200px 1px 200px 75px ;
        grid-template-areas:  
                    /*col1*/   /*col2*/  
        /*fila 1*/   "img0"                    
        /*fila 2*/   "tipos"    
        /*fila 3*/   "mago"   
        /*fila 4*/   "img3"
        /*fila 5*/   "dark"
        /*fila 6*/   "img4"
        /*fila 7*/   "guerrero"
        /*fila 8*/   "img1"
        /*fila 9*/   "elfa"
        /*fila 10*/  "img2"
        /*fila 11*/  "img5"
            ;  
    }
}

